
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

.content{
    margin: 150px auto;
    width: 1280px;
}

.top-menu__link{
    color: white;
}
.footer-links{
    color: whitek;
}
.top-menu__link:visited{
    color:white
}
.footer-links:visited{
    color:white;
}
.body {
    width:1280px;
}
.navbar{
    position: absolute;
    top: 0;
    z-index: 1000;
  width: 1280px;
  margin: 0 auto;
    background-color: rgba(21, 21, 21, 0.80);
    box-shadow: 1px 30px 50px gray;
    
  
    padding: 31px 0 33px;
   
    width: 100%;
}
.footer-links span{
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 160%;
}

.top-menu__item{
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: inline-block;
}
.top-menu__link{
    font-family: 'Raleway';
font-style: normal;
font-weight: 500;
font-size: 14px;
text-decoration: none;
padding: 7px, 15px;
margin: 0 27px;

}
.top-menu__link:hover,.top-menu__link:focus,span.top-menu__link{
    color: white;
    border-bottom: 2px solid rgba(231, 83, 20, 1)
}
.logo{
    display: inline-block;
    position: relative;
}
.row {
    display: flex;
    justify-content: space-between;

}
.contacts{
    list-style-type: none;
    
    margin: auto;
}
.hq{
    color: rgba(231, 83, 20, 1);
   position: absolute;
   left: 68px;
   width: 120px;
   

}
.w-text1{
    width:645px;
    margin-left: 20px;

}
.list-main li{
    display: flex;
    margin-top: 150px;



}
h2{
    font-family: Raleway;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0em;
    color: #E75314;
    
    
}
p{
    margin-top: 10px;
    font-family: 'Raleway';
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 18px;
}
.w-text2{

    width: 645px;
    
}
.w-text3{
    width: 645px;
}
.text3{
    text-align: right;
}
.text5{
    text-align: right;
}
.text7{
    text-align: right;
}
.text9{
    text-align: right;
}


.w-text4{
    width: 454px;
}
.w-text5{
    width: 455px;
}
.w-text6{
    width: 455px;
}
.w-text7{
    width: 455px;
}
.w-text8{
    width: 455px;
}
.w-text9{
    width: 455px;
}
.w-text10{
    width: 455px;
}
.w-textf1{
    width: 455px;

}
.w-textf2{
    width: 455px;
}
.w-text11{
    width: 455px;
}
.text11{
    text-align: right;
}


.footer{
    background-color:  rgba(30, 34, 45, 1);
    display: flex;
    justify-content: space-between;
}
.footer-text1{
    font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 18px;
width: 265px;
color: white;
margin-left: 50px;
}
.footer-text2{
    
font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 18px;
width: 266px;
color: white;
margin-bottom: 100px;
margin-top: 30px;
margin-left: 50px;
}
.copyright{
    font-family: 'Raleway';
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 160%;
color:  rgba(231, 83, 20, 1);
margin-left: 50px;

}
.footer-lists{
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin-left: 150px;
    

}
.footer-column1{
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: inline-block;
    color: white;
    padding-right: 120px;

}
.footer-column1 li{
    width: 150px;
}
.footer-column2{
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: inline-block;
    color: white;
    padding-right: 120px;
    
}
.footer-column3{
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: inline-block;
    color: white;
    
}
.footer-links{
    text-decoration: none;
    font-family: 'Raleway';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
text-align: center;


}
.footer-links:hover, .footer-links:active,.footer-links:focus{
    color: white;
    border-bottom: 2px solid rgba(231, 83, 20, 1)
}
.footer-links:visited{
    color: white;
}
html,body{
    height: 100%;
}
.footer-bold{
    font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 160%;
margin-bottom: 0;
}


body{margin: 0;}
