@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');
/*@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;500&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;500&display=swap');
body{
    
    margin: 0 0;
}
.navbar{
    background-color: rgba(21, 21, 21, 0.6);
    font-family: 'Raleway';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;

margin: 0 auto;
    
}

.top-menu__link{
    color: white;
}
.footer-links{
    color: white;
}
.top-menu__link:visited{
    color:white
}
.footer-links:visited{
    color:white;
}
.body {
    width:auto;
}
.navbar{
    position: absolute;
    top: 0;
    z-index: 1000;
   
    
  
    padding: 31px 0 33px;
    border-bottom: 1px solid rgba(21, 21, 21, 1);
   width: 100%;
}

.top-menu__item{
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: inline-block;
}
.top-menu__link{
    font-family: 'Raleway';
font-style: normal;
font-weight: 500;
font-size: 14px;
text-decoration: none;
padding: 7px, 15px, 7px, 15px;
margin: 0 27px;

}
.top-menu__link:hover,.top-menu__link:focus,span.top-menu__link{
    color: white;
    border-bottom: 2px solid rgba(231, 83, 20, 1)
}
.logo{
    display: inline-block;
    position: relative;
}
.row {
    display: flex;
    justify-content: space-between;

}
.contacts{
    list-style-type: none;
    
    margin: auto;
}
.hq{
    color: rgba(231, 83, 20, 1);
   position: absolute;
   left: 68px;
   

}
.h-slider{
    
    
    color: white;
    opacity: 0.6;
    background-size: cover;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    opacity: .85;
    box-shadow: 0 0 1px 30px rgba(21, 21, 21, 1);
border-radius: 3px;
background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), ;
}
/*
.h-slider::before{
    background-color: rgba(1, 1, 1, 1);
    ;
    content: '';
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .15;

}
.h-slider::after{
    content: '';
    position: absolute;
    top:10px;
    right: 10px;
    left: 10px;
    bottom: 10px;
    z-index: 1;
    box-shadow: 0 0 1px 30px  rgba(21, 21, 21, 1);
    
    border-radius: 3px;
*/
.footer-links span{
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 160%;
}
.home-heading{
   width: 300px;
   margin: 0;
   margin-top: 15px;
    
    padding-left: 30px;
   
font-family: 'Raleway';
font-style: normal;
font-weight: 300;
font-size: 60px;
line-height: 70px;
}
.home-heading2{
    top:45%;
    left: 10%;
    
    
    
    padding-left: 30px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
}

.container2{
    width: 449px;
    
}

.bt{
   
    font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 18px;
}
.toppart{
    display: flex;
    justify-content: space-between;
    margin-top: 200px;
  }

.column1{
    
    list-style-type: none;
    margin-left: 70px;
    padding: 0;
}


.column1 li{
    padding-top: 20px;
    padding-left: 0px;
    width: 450px;
}
.h-footer{
    
    width: 100%;

background-color: rgba(1,1,1,0.8);

margin-top: 150px;
  
}
.h-footer-content{
    width: 1280px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    
}
.p-footer{
    margin-top: 30px;
    
    margin-left:70px;
    width: 230px;
    margin-bottom: 0;
    
font-family: 'Raleway';
font-style: normal;
font-weight: 800;
font-size: 20px;
line-height: 23px;
}
.lists{
    display: flex;
    justify-content: space-between;
  
    font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 13px;
line-height: 15px;
width: 1280px;

}
.column2{
    list-style-type: none;
    padding: 0;
}
.column2 li{
    padding-top: 20px;
    padding-left: 0px;
    width: 450px;
}
.column3{
    padding: 0;
    list-style-type: none;
}
.column3 li{
    padding-top: 20px;
    padding-left: 0px;
    width: 450px;
}
.m-slider{
    color: black;
    background-image: none;
    background-size: cover;
    
    margin: 0 auto;

    

}  

.t-header{
    margin-top: 120px;
}
.footer{
    background-color:  rgba(30, 34, 45, 1);
    display: flex;
    justify-content: space-between;
}
.footer-text1{
    font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 18px;
width: 265px;
color: white;
margin-left: 50px;
}
.footer-text2{
    
font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 18px;
width: 266px;
color: white;
margin-bottom: 100px;
margin-top: 30px;
margin-left: 50px;
}
.copyright{
    font-family: 'Raleway';
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 160%;
color:  rgba(231, 83, 20, 1);
margin-left: 50px;

}
.footer-lists{
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin-left: 150px;
    

}
.footer-column1{
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: inline-block;
    color: white;
    padding-right: 120px;

}
.footer-column1 li{
    width: 150px;
}
.footer-column2{
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: inline-block;
    color: white;
    padding-right: 120px;
    
}
.footer-column3{
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: inline-block;
    color: white;
    
}
.footer-links{
    text-decoration: none;
    font-family: 'Raleway';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
text-align: center;


}
.footer-links:hover, .footer-links:active,.footer-links:focus{
    color: white;
    border-bottom: 2px solid rgba(231, 83, 20, 1)
}
.footer-links:visited{
    color: white;
}
html,body{
    height: 100%;
}
.footer-bold{
    font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 160%;
margin-bottom: 0;
}
.content{
    width: 1280px;
    margin: 0 auto;

}